@media screen and (min-width: 1024px) {
    .main-flex{
        grid-template-columns: auto 300px 1fr auto;
    }

    .ficha {
        grid-column: 2 / 3;
        height: fit-content;
        position: sticky;
        top: 97px;
    }

    .detalhes{
        grid-column: 3 / 4;
    }
}



@media screen and (min-width: 768px) {

    .skill-container {
        grid-template-columns: repeat(2, 1fr);
    }
    .projeto-container .projeto {
        flex-direction: row-reverse;
        justify-content: space-around;
    }
    .projeto-container .projeto-info {
        max-width: 70%;
    }
    .projeto-container .foto {
        aspect-ratio: 1/1;
        max-height: 300px;
    }
}
